.files-list_parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.files-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
}

.file-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  width: 250px;
  margin-bottom: 12px;
  margin-right: 8px;
  transition: 0.1s;
}

.file-box:hover{
  background-color: #f3f3f3
}

.file-icon{
  width: 24px;
  height: 24px;
}

.file-box__file-button{
  color: #444;
  font-size: 20px;
  transition: 0.2s;
  margin-top: 4px;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.file-box__file-button:hover{
  color: #000;
}
